@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$midnight-blue: #14213d;
$pumpkin-orange: #fca311;
$cool-gray: #e5e5e5;


.review {
  list-style: none;
  color: $midnight-blue;
  text-align: left;
  width: 90%;
  background-color: white;
  margin: 1rem 0;
}

.top-bar {
  background-color: $midnight-blue;
  .menu {
    background-color: $midnight-blue;
    a {
      color: $cool-gray;
    }
    .button {
      background-color: $pumpkin-orange;
      color: $midnight-blue;
    }
    .button:hover {
      background-color: #fcb33d;
      color: $midnight-blue;
    }
  }
  .menu-text {
    color: $pumpkin-orange;
  }
}

.card {
  height: 200px;
  width: 150px;
}

body {
  text-align: center;
}

.card-section {
  height: 200px;
  width: 150px;
  background-size: contain;
}

.button {
  background-color: $pumpkin-orange;
  color: $midnight-blue;
}

.movie-title-input {
  width: 50%;
  margin: 15px auto;
}

.profile-pic {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.movie-detail-container,
.reviews-list-container {
  background-color: $cool-gray;
  padding: 2rem;
  margin: 0.5rem;
  height: calc(100vh - 150px);
}